body{
    background-color: rgb(11, 30, 54);
    text-align: center;

}
main{
    position: relative;
}

section#contenedor {
    position: absolute;
    
}

h1{
    font-family: bebas;
    font-size: 470px;
    text-align: center;
    margin-top: -10%;
    color: white;
    margin-bottom:-6%;

}

p{
    color: white;
    width: 400px; 
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;

      

}
h4, h2{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-radius: 44px;
    margin:auto;
    margin-top: 5%;
}


h5{
    font-family: bebas;
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
    color: white;
    
}

.elije{
color:white;
}


.botonnegro{ 
    font-family: bebas;
    font-size: 40px;
    color:white;
    background-color:black;
    padding: 8px 20px;
    border-radius: 44px;
    text-decoration: none;
    
}

@font-face{
    font-family:bebas;
    src: url(bebas.otf);
  }
  @font-face{
    font-family: tipeo;
    src: url(tipeo.otf);
  }