body{
    background-image:url(probar.jpg);
    background-position: right;
    text-align: center;

}
main{
    position: relative;
}

section#contenedor {
    position: absolute;
    
}

h1{
    font-family: bebas;
    font-size: 340px;
    text-align: center;
    margin-top: -7%;
    color: white;
    margin-bottom:-4%;

}

p{
    color: white;
    width: 400px; 
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
      
}



h4, h2{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 44px;
    margin:auto;
    margin-top: 2%;
}


h3{
    color: rgb(255, 255, 255);
    font-size: 31px;
    width: 400px; 
    margin:0 auto;
    text-align: center;
    font-family: bebas;
    text-shadow: black 0.6em 0.1em 0.3em;     

}


h5{
    font-family: bebas;
    font-size: 37px;
    text-align: center;
    margin-top: 5%;
    color: white;
    text-shadow: black 0.6em 0.1em 0.3em;
    
}

.elije{
color:white;
}


.botonnegro{ 
    font-family: bebas;
    font-size: 40px;
    color:white;
    background-color:transparent;
    padding: 8px 20px;
    border: 2px solid #000000;
    text-decoration: none;
    
}
#principal, #cuerpo, #generador, #decypher{
    margin-top: 20%;
}

.botonnegro:hover{
    background-color:black;
}

@font-face{
    font-family:bebas;
    src: url(bebas.otf);
  }
  @font-face{
    font-family: tipeo;
    src: url(tipeo.otf);
  }

  /Responsive designer para tablets y celulares/

  @media (max-width: 600px) {
 h1{
     font-size: 240;
     margin-top: -18%;
     margin-bottom: -12%;
 }
 body{
    margin-top: 20%;  
    background-position-y: center ;
  }

h4{
    margin-top: 50%;
}
  #intro {
      margin-top: -16%;
  }

 }

  @media (max-width: 400px) {
      h1{
        font-size: 250px;
        margin-top: -16%;
      }

      h5{
          font-size: 30px;
      }


      body{
        margin-top: 25%;

      }

      h3{
        font-size: 30px;
      }
      p{
        font-size: 12px;
        width: 70%;
      
      }

      .botonnegro {
          margin-top: 5%;
      }
  }









